.librariesSection {
  padding-top: 4.688rem;
}

.sectionWrapper {
  max-width: 62.5rem;
  margin: 0 auto;
}
.librariesHeading {
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
}


.searchInput {
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  margin: 1.5rem 0rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
