.header {
  width: 100%;
  background-color: #3c3c3c;
  height: 4.688rem;
  position: fixed;
  z-index: 10;
}

.headerContainer {
  max-width: 90rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogoWrapper {
  cursor: pointer;
}
